# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/nds/"



input_player1_gun_trigger_mbtn = "1"
input_player1_a_mbtn = "2"
input_player1_b_mbtn = "3"
input_player1_start = "num1"
input_player1_select = "alt"

#include "/opt/retropie/configs/all/retroarch.cfg"