# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_overlay = "/opt/retropie/configs/all/retroarch/overlay/no_border/Commodore-64.cfg"
input_overlay_enable = "true"

custom_viewport_height = "864"
custom_viewport_width = "1120"
custom_viewport_x = "80"
custom_viewport_y = "-70"


input_remapping_directory = "/opt/retropie/configs/c64/"

#include "/opt/retropie/configs/all/retroarch.cfg"
