# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_overlay = "/opt/retropie/configs/all/retroarch/overlay/no_border/Atari-2600.cfg"
input_overlay_enable = "true"
aspect_ratio_index = "22"

input_remapping_directory = "/opt/retropie/configs/atari2600/"

#include "/opt/retropie/configs/all/retroarch.cfg"
